.top-header{
    background: url(../../../Image/bg.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 100%;
    text-align: center;
    position: relative;
    
    
}

.header-content img{
    height: 100px;
    border-radius: 50%;
    border: 3px solid lightsalmon;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    
}

.header-content{
    z-index: 2;
}

.particles{
    position: absolute;
    z-index: 0;
    width:100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.7;
    
}

.social-icons .Slinks{
    color: white;
}

.social-icons .Slinks:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: all ease .4s;
    color: lightsalmon;
}



