.blog-container{
    background: #0e0d21;
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);


}

.blog-container img{
    width: 100%;
  height: auto;
    border-radius: 5px;
}
.blog-container h3{
    margin-top: 1rem;
    color: white;
   
    margin-bottom: 1rem;
    
}

.blog-container h6:hover{
    color: lightsalmon;
}

.blog-container p{
    font-size: 1.25rem;
    color: white;
    opacity: .7;
    margin-top: 0;
}