

.menu a{
    text-decoration: none;
    font-size: .75rem;
    color: white;
    text-transform: uppercase;
    transition: all ease .4s;
    border-bottom: 2px solid transparent;

}
.menu a.home{
    color: lightsalmon;
}
.menu a:hover{
    border-bottom: 2px solid lightsalmon;
    color: lightsalmon;
}
